.mainContaier{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90% ;
    margin: auto;

}
.btnComponentController{
    margin: 60px 0;
}

.hairdressers{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: black;
}