.All_Slider{
    font-family: "Roboto",;
    background-color: #382b49;
    height: 750px;
  width: 100%;

}

.MuiTabs-root .MuiTab-textColorPrimary.Mui-selected {
  color: #fecbca;
  

}

.MuiTabs-indicator {
  background-color: white;
}